* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root {
    --white: #FFFFFF;
    --primary-color: #32D583;
    --secondary-color: #88FFC3;
    --container-color: rgba(255, 255, 255, 0.48);
    --apprenant-card-color: rgba(46, 187, 116, 0.38);
    --gray-font-color: rgba(151, 158, 172, 1);
}

.apprenant-app {
    display: flex;
    height: 100vh;
}




.sidebar-menu .menu {
    cursor: pointer;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.sidebar-menu .menu .menu-item {
    border-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}



.menu-item.activated {
    background: var(--secondary-color);
    box-shadow: (10px 10px 10px var(--secondary-color));
}

.menu-item img {
    width: 1.5rem;
    height: 1.5rem;

}

.menu-item:hover:not(.activated) {
    background: var(--gray-font-color);
}

.sidebar-menu {
    box-shadow: 3px -3px 5px var(--secondary-color) -3px 3px 10px var(--secondary-color);
    width: 0;
    height: 0;
    visibility: hidden;
    transition: all .5s ease-in;
}

.sidebar-menu.draged {
    width: 20%;
    visibility: visible;
}

.all-screens {
    background: var(--primary-color);
    width: 100%;
}

.all-screens img {
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    margin: 1rem;
    border-radius: 10px;
}

.screen {
    display: none;
    margin: 1rem 1rem 1rem 3.5rem;
    background: aquamarine;
}

.screen.activated {
    display: block;
}

/* PROFILE SECTION */

/* Reuasable compenents*/
.vertical-padding {
    padding: var(--top-bottom-global-spacer) 0;
}

.horizontal-padding {
    padding: var(--left-right-global-spacer);
}

.all-padding {
    padding: var(--top-bottom-global-spacer) var(--left-right-global-spacer);
}


/* Container */
.profile-container {
    background-color: var(--primary-color);
    width: 100%;
    height: 80vh;
}

/* Header Section : takes 20% vertically*/
.profile-header {
    height: 15%;
    background: var(--secondary-color);
    box-shadow: 0 6px 30px 10px var(--primary-color);
    border-radius: 0 0 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.profile-header img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid var(--gray-font-color);
    animation: triggredBorder 1s ease-in-out alternate infinite;

}

@keyframes triggredBorder {
    0% {
        border: 0px solid var(--primary-color);
    }

    50% {
        border: 2px solid var(--secondary-color);
    }

    100% {
        border: 3px solid var(--primary-color);
    }
}

/* Content Section : takes 80% (100%-20%=80%) vertically*/
.profile-content {
    display: flex;
    height: 80%;
    gap: 20px;
}

.profile-content .profile-content-left-side {
    width: 40%;
}

.profile-content-rigth-side {
    flex: 2;
}

.profile-content-left-side .user-card .user-image img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid var(--gray-font-color);
    animation: triggredBorder 1s ease-in-out alternate infinite;
}

.profile-content-left-side .user-card {
    padding: var(--top-bottom-global-spacer) var(--left-right-global-spacer);
    background-color: var(--secondary-color);
    height: 60%;
    border-radius: 20px;
    box-shadow: 5px 4px 5px 4px #32D583;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.profile-content-left-side .user-card .user-info {
    text-align: center;
    font-weight: 500;
}

.cards {
    display: flex;
    justify-content: space-between;
    padding: 0 10px 0 10px;
}

.card {
    background-color: var(--secondary-color);
    padding: var(--top-bottom-global-spacer) var(--left-right-global-spacer);
    border-radius: 10px;
    box-shadow: 10px 6px 30px 10px var(--primary-color), -10px -6px 30px 10px var(--primary-color);
    transition: background-color .5s linear;
    padding: 20px;

}

.card h3 {
    color: var(--white);
    font-weight: bold;
}

.card h4 {
    color: var(--gray-font-color);
}

.card:hover {
    background-color: var(--container-color);
}

.user-id {
    background-color: var(--white);
    color: gray;
    border-radius: 20px;
    padding: 6px;
}

.status {
    background-color: #88FFC3;
    margin-top: 50px;
    height: 50%;
    border-radius: 16px;
}

.status h1 {
    text-align: center;
    color: white;
}

.status .apprenant-status{ 
    font-size: clamp(3.5rem, 4vw, 5rem);
    text-align: center;
    color: white;
    font-weight: bold;
}