* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: #FFFFFF;
    --primary-color: #32D583;
    --secondary-color: #88FFC3;
    --container-color: rgba(255, 255, 255, 0.48);
    --apprenant-card-color: rgba(46, 187, 116, 0.38);

}

.container {
    width: 100%;
    height: 100vh;
    position: relative;
}

.top-side {
    height: 20%;
    background-color: var(--white);
}

.bottom-side {
    height: 80%;
    background-color: var(--secondary-color);
}

/* Content */

/*7rem is the Height of the card, the bottom side of it equals (7rem/2) and i added 1.5% 
for adding more space between it and the content */
.content {
    padding-top: calc(7rem / 2 + 5%);
    height: 100%;
    overflow: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
}

.content .left-side {
    width: 100%;
    /* I'll change this width using js */
    margin: auto;
    transition: all .5s linear;
    border-radius: 20px;
    padding: .5rem;
}

/*
    Relation between this class and  "grid-template-columns" .content class
    - in .content class i'll change " grid-template-columns: 1fr 1fr" to  "grid-template-columns: 1fr"
    from 2 column to one if ".rigth-side.isEmbeded"
*/
.rigth-side.isEmbeded {
    /*display: block;*/
}



.content .add-apprenant {
    width: 2rem;
    /*margin-left: 0.5rem;*/
    transition: all 1s linear;
    position: absolute;
    z-index: 100;
    right: 5px;
    top: .5rem;
}

.bg-add-btn {
    width: 150px;
    height: 3rem;
    background-color: var(--primary-color);
    position: absolute;
    z-index: 1;
    top: 13%;
    left: -100px;
    border-radius: 20px;
    transition: all .5s linear;
}

.content .bg-add-btn:hover {
    transform: translateX(50px);
}

.content .add-apprenant:hover {
    box-shadow: 10px 19px 100px 10px rgba(255, 248, 248, 0.6);
    cursor: pointer;
    width: 2.2rem;
    transform: rotate(180deg);
}

/* If the user clicked on that button i'll change the with of 
'.left-side' class to be (95% / 2) and beening included two apprenant card, and this button will disapeared */
.content .add-apprenant.isClicked {
    /* display: none; */
}

/* Apprenant Cards */

.left-side .apprenant-cards {
    background-color: var(--container-color);
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

/*Tablet*/
@media (max-width:992px) {
    .left-side .apprenant-cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .content .add-apprenant {
        width: 2rem;

    }
}

/*Mobile*/
@media (max-width: 768px) {
    .left-side .apprenant-cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .content .add-apprenant {
        width: 1.5rem;
    }
}

.apprenant-card {
    background: var(--apprenant-card-color);
    border-radius: 20px;
    margin: .5rem;
    /*
    width: max-content;
    height: max-content;
    */
    padding: 20px 15px;

}

.apprenant-buttons {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.apprenant-buttons img {
    width: 1.3rem;
    height: 1.3rem;
}

.apprenant-image,
.apprenant-fullname,
.apprenant-group,
.apprenant-status {
    text-align: center;
    font-size: clamp(0.5rem, 1.5vw, 1rem);
}

.apprenant-status,
.apprenant-group {
    color: rgb(255, 255, 255);
}

.apprenant-group {
    margin-bottom: 1rem;
}

.apprenant-image img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    object-fit: cover;
}


/* CARDS */
.cards {
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    position: absolute;
    top: 10%;
}


.cards .card {
    width: calc(100% / 5);
    display: flex;
    gap: 10px;
    background-color: var(--white);
    justify-content: center;
    align-items: center;
    height: 7rem;
    border-radius: 20px;
    padding: 10px 10px;
    cursor: pointer;
    box-shadow: 0 3px 20px 2px rgba(100, 100, 100, 0.3);
}

.cards .card:hover {
    transform: translateY(-5%);
    background-color: rgba(150, 150, 150, 0.7);
    transition: all .3s ease-in-out;
    color: white;
}

.cards .card.isActive {
    background-color: var(--primary-color);
}

.card.isActive h4,
.card.isActive h3,
.card.isActive img {
    color: var(--white);
}

.cards .card img {
    width: 25%;
}

.cards .card h4,
h3 {
    font-size: clamp(.5rem, 1.3vw, 1rem);

}

/**/