* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --white:#FFFFFF;
    --primary-color:#32D583;
    --secondary-color:#88FFC3;
    --container-color:rgba(255, 255, 255, 0.48);
}

.container {
    width: 100%;
    height: 100vh;
    background-color: cadetblue;
    position: relative;
}

.top-side {
    height: 30%;
    background-color: white;
}

.bottom-side {
    height: 70%;
    background-color: aquamarine;
}

/* Content */

/*7rem is the Height of the card, the bottom side of it equals (7rem/2) and i added 1.5% for adding more space between it and the content */
.content {
    padding-top: calc(7rem / 2 + 1.5%);

}

.content .content-info {
    background-color: rgb(255, 149, 149);
    width: 95%;
    margin: auto;
    transition: all .5s linear;
    border-radius: 20px;
    padding: .5rem;
}


.content .add-apprenant {
    width: 2%;
    height: 2%;
    margin-left: 0.5rem;
    transition: all 1s linear;
}

.content .add-apprenant:hover {
    box-shadow: 10px 19px 100px 10px rgba(255, 248, 248, 0.6);
    cursor: pointer;
    width: 2.5%;
    transform: rotate(180deg);

}

.content .add-apprenant.isClicked {
    /* display: none; */
}

/* CARDS */
.cards {
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    position: absolute;
    top: 15%;
}


.cards .card {
    width: calc(100% / 5);
    display: flex;
    gap: 10px;
    background-color: white;
    justify-content: center;
    align-items: center;
    height: 7rem;
    border-radius: 20px;
    padding: 10px 10px;
    cursor: pointer;
    box-shadow: 0 3px 20px 2px rgba(100, 100, 100, 0.3);
}

.cards .card.isActive {
    background-color: aqua;
}

.card.isActive h4,
.card.isActive h3,
.card.isActive img {
    color: white;
}

.cards .card img {
    width: 25%;
}

.cards .card h4,
h3 {
    font-size: clamp(.5rem, 1.3vw, 1rem);
    width: min-content;
}

/**/