* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: #FFFFFF;
    --primary-color: #32D583;
    --secondary-color: #88FFC3;
    --container-color: rgba(255, 255, 255, 0.48);
    --apprenant-card-color: rgba(46, 187, 116, 0.38);
    --gray-font-color: rgba(151, 158, 172, 1);
}

.screen {
    display: none;
}

.screen.active-screen {
    display: block;
}

.container {
    width: 100%;
    height: 100vh;
    position: relative;
}

.top-side {
    height: 20%;
    background-color: var(--white);
}

.bottom-side {
    height: 80%;
    background-color: var(--secondary-color);
}

/* Content */

/*7rem is the Height of the card, the bottom side of it equals (7rem/2) and i added 1.5% 
for adding more space between it and the content */
.content {
    padding-top: calc(7rem / 2 + 5%);
    height: 100%;
    overflow-y: auto;
    display: grid;
    grid-template-columns: 2fr;
    position: relative;
}



.content .left-side {
    width: 100%;
    /* I'll change this width using js */
    margin: auto;
    border-radius: 20px;
    padding: .5rem;
    transition: width .5s linear;
}

/*
    Relation between this class and  "grid-template-columns" .content class
    - in .content class i'll change " grid-template-columns: 1fr 1fr" to  "grid-template-columns: 1fr"
    from 2 column to one if ".rigth-side.isEmbeded"
*/
.rigth-side {
    display: none;
}

.rigth-side.isEmbeded {
    display: block;
    height: max-content;
}

.content .add-apprenant {
    width: 2rem;
    /*margin-left: 0.5rem;*/
    transition: all 1s linear;
    position: absolute;
    z-index: 100;
    right: 5px;
    top: .5rem;
}

.bg-add-btn {
    width: 150px;
    height: 3rem;
    background-color: var(--primary-color);
    position: absolute;
    z-index: 1;
    top: 13%;
    left: -100px;
    border-radius: 20px;
    transition: all .5s linear;
}

.content .bg-add-btn:hover {
    transform: translateX(50px);
}

.content .add-apprenant:hover {
    box-shadow: 10px 19px 100px 10px rgba(255, 248, 248, 0.6);
    cursor: pointer;
    width: 2.2rem;
    transform: rotate(180deg);
}

/* If the user clicked on that button i'll change the with of 
'.left-side' class to be (95% / 2) and beening included two apprenant card, and this button will disapeared */
.content .add-apprenant.isClicked {
    /* display: none; */
}

/* Apprenant Cards */
.left-side .apprenant-cards {
    background-color: var(--container-color);
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}


/*Tablet*/
@media (max-width:992px) {
    .left-side .apprenant-cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .content .add-apprenant {
        width: 2rem;

    }
}

/*Mobile*/
@media (max-width: 768px) {
    .left-side .apprenant-cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .content .add-apprenant {
        width: 1.5rem;
    }
}

.apprenant-card {
    background: var(--apprenant-card-color);
    border-radius: 20px;
    margin: .5rem;
    /*
    width: max-content;
    height: max-content;
    */
    padding: 20px 15px;
    box-shadow: 0 3px 20px 2px var(--apprenant-card-color);

}

.apprenant-buttons {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.apprenant-buttons img {
    width: 1.3rem;
    height: 1.3rem;
}

.apprenant-image,
.apprenant-fullname,
.apprenant-group,
.apprenant-status {
    text-align: center;
    font-size: clamp(0.5rem, 1.5vw, 1rem);
}

.apprenant-status,
.apprenant-group {
    color: rgb(255, 255, 255);
}

.apprenant-group {
    margin-bottom: 1rem;
}

.apprenant-image img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    object-fit: cover;
}


/* CARDS */
.cards {
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    position: absolute;
    top: 10%;
}


.cards .card {
    width: calc(100% / 5);
    display: flex;
    gap: 10px;
    background-color: var(--white);
    justify-content: center;
    align-items: center;
    height: 7rem;
    border-radius: 20px;
    padding: 10px 10px;
    cursor: pointer;
    box-shadow: 0 3px 20px 2px rgba(100, 100, 100, 0.3);
}

.cards .card:hover {
    transform: translateY(-5%);
    background-color: rgba(150, 150, 150, 0.7);
    transition: all .3s ease-in-out;
    color: white;
}

.cards .card.active-card {
    background-color: var(--primary-color);
}

.card.active-card h4,
.card.active-card h3,
.card.active-card img {
    color: var(--white);
}

.cards .card img {
    width: 25%;
}

.cards .card h4,
h3 {
    font-size: clamp(.5rem, 1.3vw, 1rem);

}

/* INSCRIPTION */

.rigth-side {
    border-radius: 20px;
    background-color: var(--container-color);
    padding: 1rem;
    height: 80%;
}

.apprenant-inscription {}

.inscription-form {
    margin-top: 30px;
    margin-left: 10px;
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    gap: 30px;
}


.header-inscription h2,
h5 {
    margin-left: 10px;
}

.header-inscription h2 {
    margin-bottom: 15px;
    font-weight: bold;
}

.header-inscription h5 {
    color: var(--gray-font-color);
}

.inscription-form input {
    all: unset;
    height: 40px;
    background-color: var(--secondary-color);
    border-radius: 15px;
    color: var(--white);
}

.inscription-form>div label {
    font-weight: bold;
}

.inscription-form input:focus {
    border: 1px solid var(--white);
}

.inscription-btn {
    margin: 40px auto;
    text-align: center;
    position: relative;
    width: 200px;
    height: 50px;
}

.inscription-btn button {
    background-color: var(--secondary-color);
    width: 200px;
    height: 50px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    border: none;
}


.inscription-btn::before {
    content: '';
    background: rgba(203, 255, 125, 0.5);
    width: 0;
    height: 0;
    position: absolute;
    left: 0px;
    right: 0px;
    transition: all .5s ease-in-out;
    border-radius: 10px;

}

.inscription-btn:hover::before {
    width: 200px;
    height: 50px;
    z-index: -1;
}

/* Retard popup */

.retard-popup-container {
    width: 40%;
    height: 50%;
    background-color: var(--primary-color);
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    transform: translate(calc(50vw - 50%), 50%);
    border-radius: 15px;
    transition: all 0.5s ease-in;
    display: none;

}

.retard-popup-container.isPopedup {
    display: block;
    /* display: none; */
    box-shadow: 10px 19px 100px 10px var(--secondary-color);

}

.retard-popup-container img {
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    margin: 4px;
    right: 5px;
    top: 5px;
    cursor: pointer;
}

.retard-popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 10%;
}

.retard-popup input[type="text"] {
    width: 20rem;
    height: 4rem;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: var(--secondary-color);

}

.retard-popup label {
    font-weight: 600;
    color: white;

}

.retard-popup input[type="time"] {
    width: 20rem;
    height: 2rem;
    background: rgba(203, 255, 125, 0.5);
    text-align: center;
    margin-top: 5px;
}

.retard-popup button {
    border: none;
    border-radius: 10px;
    width: 15rem;
    height: 2.5rem;
    background: rgba(203, 255, 125, 0.5);

}

/*LOGIN SECTION...*/

.login-container {
    background-image: linear-gradient(to right, #c9ecff 30%, #e6e6ff, #a0bbfe);
    filter: drop-shadow(20px 10px 6px #e6e6ff);
    display: flex;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;
}

.left-side-login {
    align-self: center;
    flex: 1;
}

.left-side-login h1 {
    font-size: clamp(0.5rem, 1.5vw, 1rem);
    font-family: 'Times New Roman', Times, serif;
}

.rigth-side-login {
    background: #f9f6fd;
    flex: 2;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 2px #e6e6ff, -2px -2px 10px 2px #c9ecff;

}

.rigth-side-login .login-card {
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.rigth-side-login .login-card h4 {
    color: var(--gray-font-color);
}

.rigth-side-login .login-card :nth-child(2) input {
    all: unset;
    width: 300px;
    height: 40px;
    border: 1px solid #c9ecff;
    border-radius: 10px;
    margin-right: 15px;
}

.rigth-side-login .login-card :nth-child(2) button {
    all: unset;
    width: 120px;
    height: 40px;
    border-radius: 13px;
    border: 1px solid #c9ecff;
    background-color: #a0bbfe;
    text-align: center;
    cursor: pointer;
}

.validation-user-id {
    padding-top: 10px;
    text-align: center;
    opacity: 0;
    transition: opacity 1s linear;
    color: wheat;
}

.validation-user-id.is-none-valide {
    color: red;
    opacity: 1;
}